#!/usr/bin/make -f

%:
	dh $@ --with python2

override_dh_auto_clean:
	rm -rf *.egg-info
	find . -name "*.pyc" | xargs rm -f
	rm -rf controller/ 
	rm -rf docs/ 
	rm -f .gitignore 
	rm -f LICENSE.txt 
	rm -f README.md
	[ -d pykeg ] && mv -v pykeg/* .
	rm -rf pykeg/

